accelerate==0.32.1
anthropic==0.30.1
apex==0.9.10dev
bitsandbytes==0.43.1
datasets==2.14.7
deepspeed==0.14.0
easyocr==1.7.1
einops==0.8.0
fairscale==0.4.13
fastchat==0.1.0
filelock==3.15.4
fire==0.6.0
flash_attn==2.5.9.post1
Flask==3.0.3
flask_bootstrap==3.3.7.1
flask_wtf==1.2.1
fuzzywuzzy==0.18.0
galore_torch==1.0
gradio==4.37.2
huggingface_hub==0.23.4
intel_extension_for_pytorch==2.3.100
ipynb==0.5.1
jieba==0.42.1
jsonlines==4.0.0
keras==3.4.1
langchain==0.2.6
matplotlib==3.9.1
mlflow==2.14.2
nltk==3.8.1
numpy==2.0.0
openai==1.35.10
optuna==3.6.1
packaging==24.1
pandas==2.2.2
pdf2image==1.17.0
peft==0.11.1
Pillow==10.4.0
prettytable==3.10.0
rank_bm25==0.2.2
ray==2.31.0
Requests==2.32.3
rouge_score==0.1.2
safetensors==0.4.3
scikit_learn==1.5.1
scipy==1.14.0
seaborn==0.13.2
setuptools==69.5.1
symspellpy==6.7.7
tiktoken==0.7.0
timm==1.0.7
torch==2.3.0+cu118
torch_npu==2.2.0
torch_xla==2.3.0
torchmetrics==1.4.0.post0
tqdm==4.66.4
transformers==4.42.3
wandb==0.17.4
WTForms==3.1.2
